# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Build cache (keep dist!)
build/

# Datasets & raw data
dataset/
dynamic_dataset/
*.csv
*.mp4

# Training-only models
*.h5

# IDE / OS
.vscode/
.DS_Store
Thumbs.db
